@media{


img {
width:100%;
}
#topper{
    height:400px; 
    background-image:url(waiting%20room%20pic%20.jpeg); 
    background-size:cover; 
    background-position: 40% 20%; 

    
}
    
.content{
font-family: 'Poppins', sans-serif;
width:100%;
margin:auto;
    }
    
.caption{
font-size:13px;
font-family: 'Outfit', sans-serif;
color:gray;
text-align:center;
margin:0px 30px 30px 5px;

}
    
    
h1{
font-size:35px;
font-weight:bold;
font-family:'Outfit', sans-serif;
text-align: center;
font-style:italic; 
color:#1f78b4;
 }
    
h2{
font-size:18px;
font-family: 'Poppins', sans-serif;
text-align: center;
font-weight:bold;
margin:0px 30px 30px 5px;


}


h3{
font-size: 11px;
font-weight:bold;
font-family: 'Outfit', sans-serif;
text-align:center;
}
 

#pullquote {
font-family:'Poppins', sans-serif;
margin:30px 0px 30px 0px;
}
    
 .qoute{
color:#fb9a99;
font-size:38px;
font-weight:bold;
width:100%;
text-align: center;
     

    }
    
 .attribution{
    color:#fb9a99;
    font-size:30px;
     margin:auto;
    font-weight:bold;
     text-align: center;
    }
    
#pillgraphic{
padding: 0px 20px 0px 20px; 

    }
    
    
#articlegraph{
padding: 0px 20px 0px 20px; 
    
    }


.graphcaption{
    font-size:15px;
color:gray;
font-family: 'Outfit', sans-serif;
}
    


#photo2{
font-size:13px;
font-family: 'Outfit', sans-serif;
width:530px;
text-align:center;}

a{
color:black;
}

#photo3{
font-size:13px;
font-family: 'Outfit', sans-serif; 
width:485px;
text-align:center;

}

   
@media (min-width:576px) {

    .content{
    width:90%.;
    }
    h1{
    font-size:60px;
   
    }
    
    h3{
 font-size:15px;
    }
.graphiccaption{
 width:600px;
 margin-right:30%;
margin:0px 30px 30px 0px;
 }
    }
    
     


@media (min-width:992px) {

    .content{
    width:60%
    }
    
    h1{
    font-size:70px;
    }
    
    h2{
    font-size:28px;
    
    }
    
    h3{
    font-size:20px;
    font-weight:bold;
    }
    
    .caption{
    font-size:16px;
    }
    
    .graphiccaption{
    font-size:30px;
    text-align: center;
    }
    
    .qoute{
    font-size:50px;
    text-align: center;

    }
    .attribution{
    font-size:38px;
    }
    #photo2{
    width:50%;
    font-size:15px;
    }
    
    #photo3{
    font-size:15px;
    }

    
   
    
    
    }




    
}